<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">

    <test name="Chrome1">

        <parameter name="browser" value="Chrome" />

        <classes>

            <class name="com.autothan.test.TestAutoThon" />

        </classes>

    </test>

    <test name="Chrome2">

        <parameter name="browser" value="Chrome" />

        <classes>

            <class name="com.autothan.test.TestAutoThon" />

        </classes>

    </test>

</suite>